/*----------------------------------------------------------------------------------------
margin.scss
----------------------------------------------------------------------------------------*/
.u-gender-mr {
    margin-right: 10px;
}

.u-formBottom-ml {
    margin-left: 140px;
}


@media(max-width:850px) {
    .u-formBottom-ml {
        margin-left: 0;
    }
}

@media(max-width:480px) {
    .u-form-mb {
        margin-bottom: 20px;
    }
}