@charset "UTF-8";
/*----------------------------------------------------------------------------------------
rest.scss
----------------------------------------------------------------------------------------*/
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select::-ms-expand {
  display: none;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable] {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* 使うときはasで変換
    プロパティに指定する際はasで変換したもの.任意の変数で指定 */
html {
  font-weight: bold;
  font-family: "sans-serif";
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

iframe {
  max-width: 100%;
}

select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

@media (min-width: 851px) {
  .tab-appea {
    display: none;
  }
}
@media (max-width: 850px) {
  .tab-none {
    display: none;
  }
  select {
    width: 100%;
  }
}
@media (min-width: 481px) {
  .sp-appea {
    display: none;
  }
}
@media (max-width: 480px) {
  .sp-none {
    display: none;
  }
}
/*
例　読み込み　@use "../Global/mixin" as mix;
    asでmixに変換
    指定する際はasで変換したもの.任意の関数で指定
    @include mix.flex;

*/
/*----------------------------------------------------------------------------------------
header.scss
----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------
footer.scss
----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------
container.scss
----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------
form.scss
----------------------------------------------------------------------------------------*/
.p-form {
  background-color: #FFE9D6;
  padding: 100px 0;
}
.p-form__please {
  text-align: left;
  vertical-align: middle;
  color: #FC8106;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.p-form__please span {
  margin-left: 10px;
}
.p-form__other {
  text-align: center;
  color: #FC8106;
  font-size: 1.4rem;
  line-height: 35px;
}
.p-form__width {
  max-width: 800px;
  margin-inline: auto;
  margin-top: 70px;
}
.p-form__wrap {
  margin-bottom: 10px;
}
.p-form__default {
  width: 80%;
}
.p-form__top--label {
  width: 120px;
  text-align: left;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.p-form__top--zip {
  width: 170px;
}
.p-form__bottoms {
  border-top: 1px solid #fff;
  padding-top: 40px;
  margin-top: 40px;
}
.p-form__bottom {
  text-align: left;
}
.p-form__bottom--center {
  text-align: center;
  display: block;
}
.p-form__question {
  width: 80%;
  color: #fff;
  background-color: #FFAA53;
  padding: 20px 5% 40px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-bottom: 15px;
  margin-top: 30px;
}
.p-form__question span {
  font-size: 2.3rem;
}
.p-form__checks {
  line-height: 30px;
}
.p-form__textarea {
  height: 200px;
  margin-bottom: 40px;
  text-align: left;
}
.p-form__submit {
  color: #fff;
  font-size: 1.6rem;
  padding: 20px 85px;
  border-radius: 50px;
  background-color: #FFAA53;
}
.p-form__privacy {
  text-align: center;
  padding: 20px 2% 60px;
  text-decoration: underline;
}

/* 確認画面 */
.p-form__confirm {
  display: flex;
  padding: 15px 0;
  line-height: 30px;
  border-bottom: 1px solid #000;
}
.p-form__confirm label {
  width: 50%;
}
.p-form__data {
  text-align: center;
  margin-top: 50px;
}

.p-confirm-heading {
  margin-bottom: 100px;
}

/* form_back */
.p-form-toTop {
  margin-top: 50px;
  text-align: center;
  line-height: 27px;
}
.p-form-toTop span {
  font-size: 0.8rem;
}

/* thanks */
.p-form__thxTxt {
  line-height: 35px;
}
.p-form__twitter p {
  margin: 30px 0;
}
.p-form__twitter p a {
  text-decoration: underline;
}
.p-form__thxLink {
  text-align: center;
  margin-top: 50px;
}

/* validation */
label.error {
  color: red;
  font-size: 0.8rem;
  display: block;
  margin: 10px 0;
}

#agreement-error {
  text-align: center;
}

@media (max-width: 850px) {
  .p-form__question {
    width: 100%;
  }
  .p-form__top--zip {
    width: 100%;
  }
  .p-form__zipTxt {
    padding-top: 10px;
    display: inline-block;
  }
  .p-form__default {
    width: 100%;
  }
  .p-form__please span {
    line-height: 35px;
  }
  .p-form__other span {
    line-height: 35px;
  }
}
@media (max-width: 480px) {
  .p-form__please {
    flex-direction: column;
  }
  .p-form__please img {
    width: 30%;
  }
  .p-form__please span {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 1.1rem;
  }
  .p-form__top--label {
    width: 150px;
  }
  .p-form__other span {
    margin: 10px 0 0 0;
    font-size: 1rem;
  }
  .p-form__zipTxt {
    padding-top: 0;
  }
  .p-form__width {
    margin-top: 50px;
  }
  .p-form__question {
    font-size: 1rem;
    padding: 15px 5% 20px;
    line-height: 27px;
  }
  .p-form__question span {
    font-size: 1.8rem;
  }
  .p-form__default {
    margin-bottom: 10px;
  }
  .p-form__submit {
    font-size: 1.1rem;
  }
}
/*----------------------------------------------------------------------------------------
component.scss
----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------
utility.scss
----------------------------------------------------------------------------------------*//*# sourceMappingURL=style.css.map */