/*----------------------------------------------------------------------------------------
container.scss
----------------------------------------------------------------------------------------*/

main {
    margin-bottom: 100px;
}

@media(max-width:768px) {
    main {
        padding-left: 2%;
        padding-right: 2%;
    }
}